{% extends "layout.html" %}

{% block content %}

<p id="target"></p>

<script>
  var btc = {{ btc[0] }};
  $('#target').html( "$" + btc.toLocaleString('en-US') ); 
</script>

<!--
<ul>
{% for v in btc %}
  <li> {{ v }} </li>
{% else %}
  <li>No data</li>
{% endfor %}
</ul>
-->

{% endblock %}
