{% extends "layout.html" %}

{% block content %}

<p></p>

{% for b in btc %}
<script> console.log( {{ b }} )</script>
{% endfor %}

<ul>
{% for v in btc %}
  <li> {{ v }} </li>
{% else %}
  <li>No data</li>
{% endfor %}
</ul>

{% endblock %}
