{% extends "layout.html" %}

{% block content %}
<p>Got these rows from the database:</p>

<ul>
{% for v in btc %}
  <li> {{ v.btc }} </li>
{% else %}
  <li>No data</li>
{% endfor %}
</ul>

{% endblock %}
