{% extends "layout.html" %}

{% block content %}

<p id="target"></p>

<script> $('#target').html( {{ btc[0] }} ); </script>

<!--
<ul>
{% for v in btc %}
  <li> {{ v }} </li>
{% else %}
  <li>No data</li>
{% endfor %}
</ul>
-->

{% endblock %}
