<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://ogp.me/ns#">
<head>
  {% include 'header.html' %}

</head>

<body>

  <canvas id="confetti"></canvas>

  <div class="wrapper">
    <div class="container-fluid">

      <div class="row ticker">
        <div class="col-xs-0 col-sm-1"></div>
        <div class="col-xs-12 col-sm-10">
          <div class="row">
            <div class="col-xs-12 col-sm-3">
              <div class="row">
                <div class="col-xs-12 price">
                  <img src="../images/bitcoin.png"/>
                  <p id="btc_price"></p>
                  <img class="invert" src="../images/ethereum.png"/>
                  <p id="eth_price"></p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-9">
              <div class="row">
                <div class="col-xs-4 border-rt">
                  <div>
                    <a href="/charts#marketShareComparison">
                      <p class="chart-link" id="btc_dom"></p>
                    </a>
                  </div>
                </div>
                <div class="col-xs-4 border-rt">
                  <div>
                    <a href="/charts#marketShareComparison">
                      <p class="chart-link" id="eth_dom">%</p>
                    </a>
                  </div>
                </div>
                <div class="col-xs-4">
                  <a href="/charts#marketCapRatio">
                    <p class="chart-link" id="pct_dom"></p>
                  </a>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-xs-0 col-sm-1"></div>
      </div>

      <div class="row">
        <div class="col-xs-12 title">
          <a class="title-link" href="/">
            <img class="logo" src="../favicon/android-icon-192x192.png" alt="logo"/>
            <h1>Flippening Watch</h1>
          </a>
        </div>
        <div class="col-xs-12 navigation-bar">
          <a href="/">Metrics<img class="chart-icon-img-menu invert" src="../images/metrics.png"/></a>
          <a href="/charts">Charts<img class="chart-icon-img-menu invert" src="../images/chart-icon.png"/></a>
          <a href="https://store.flippening.watch/">Store<img class="chart-icon-img-menu invert" src="../images/store.png"/></a>
        </div>
        <div class="col-xs-12 subtitle">
          <div>
            {%block subtitle%}{%endblock%}
          </div>
        </div>
      </div>

    </div>

    {% block content %}{% endblock %}
  </div>

  <img id="scrollTop" src="../images/scrollTop.png"/>

  <script type="text/javascript" src="/js/confetti.js"></script>
  <script type="text/javascript" src="/js/nav.js"></script>

</body>
</html>
