<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://ogp.me/ns#">
<head>
  {% include 'header.html' %}
</head>

<body>

  <canvas id="confetti"></canvas>

  <div class="container-fluid">

    <div class="row ticker">
      <div class="col-xs-0 col-sm-1"></div>
      <div class="col-xs-12 col-sm-10">
        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <div class="row">
              <div class="col-xs-12 price">
                <img src="./images/bitcoin.png"/>
                <p id="btc_price"></p>
                <img class="invert" src="./images/ethereum.png"/>
                <p id="eth_price"></p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-9">
            <div class="row">
              <div class="col-xs-4 border-rt">
                <p id="btc_dom"></p>
              </div>
              <div class="col-xs-4 border-rt">
                <p id="eth_dom">%</p>
              </div>
              <div class="col-xs-4">
                <p id="pct_dom"></p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xs-0 col-sm-1"></div>
    </div>

    <div class="row">
      <div class="col-xs-12 title">
        <img class="logo" src="favicon/android-icon-192x192.png" alt="logo"/>
        <h1>Flippening Watch</h1>
      </div>
      <div class="col-xs-12 navigation-bar">
        <a href="/">Metrics<img class="chart-icon-img-menu" src="images/metrics.png"/></a>
        <a href="/charts">Charts<img class="chart-icon-img-menu" src="images/chart-icon.png"/></a>
        <a href="https://store.flippening.watch/">Store</a>
      </div>
      <div class="col-xs-12 subtitle">
        <div>
          <a class="link" href="http://blog.flippening.watch/what-is-the-flippening/" target="_blank">What is &quot;the Flippening?&quot;</a>
        <!--  <a class="link" href="https://store.flippening.watch/" target="_blank">FLIPPENING T-SHIRTS, MUGS, & MORE!</a> -->
          <a class="link" href="http://www.ethprice.com/" target="_blank">Partner: Ethereum Price</a>
        </div>
      </div>
    </div>

  </div>

  {% block content %}{% endblock %}

  <script type="text/javascript" src="/js/confetti.js"></script>

</body>
</html>
